/* A style for the chat messages container */
.chat-container {
  height: 83vh;
  max-width: 1200px;
  border-radius: 20px;
}

.dropdown-container {
}

.btn-primary {
  background-color: #155e75;
  color: #fff;
}
