.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.chat-input-container {
  background-color: #fff;
  max-width: 900px;
  border-radius: 20px;
}

.chat-input input {
  flex-grow: 1;
  border: none;
}

textarea {
  resize: none;
  white-space: pre-wrap;
}

.chat-input button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  height: 24px;
  width: 24px;
  border-radius: 10px;
  color: #ffffff;
  margin-right: 10px;
}

@media (max-width: em(600)) {
  .chat-input input,
  .chat-input button {
    padding: em(5);
  }
}
